<template>
  <div class="container-fluid" id="app">
    <h2>GET SKY PICTURE of NASA</h2>
    <form>
      <p>Enter your date</p>
      <input type="date" pattern="\d{4}-\d{2}-\d{2}" required v-model="formDate">
      <button type="submit" @click.prevent="testNasa">Submit</button>
    </form>
    <p v-show="status!==null"><b>Server status:</b>{{ status }}</p>
    <p v-show="status!==null &&status!==400"><b>Date of HTTP response:</b> {{ date }}</p>
    <p class="alert alert-danger" role="alert" v-show="status===400">ERROR MSG from SERVER NASA: {{ er }}</p>
    <p v-show="status!==null &&status!==400"><b>Picture explanation:</b> {{ exp }}</p>
    <img :src="url" class="img-fluid">
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import axios from "axios";

export default {
  data() {
    return {
      url: '',
      date: '',
      exp: null,
      status: null,
      formDate: '',
      er: ''
    }
  },
  methods: {
    testNasa() {
      axios
          .get('https://api.nasa.gov/planetary/apod?api_key=nRXkolldP7D23RnJnWiLRrpOIqd9bJ50hp2liUFy&date=' + this.formDate)
          .then(response => {
            this.url = response.data.hdurl,
                this.date = response.data.date,
                this.exp = response.data.explanation,
                this.status = response.status,
                console.log(response)
          })
          .catch((error => {
                this.status = error.response.data.code
                this.er = error.response.data.msg
                this.url = ''
              }
          ))
    }
  }
}
</script>

<style>
</style>